<div class="content-block">
    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="actionProfileSelect">Profiles</label>
    </div>
    <select class="custom-select" id="actionProfileSelect">
        <option selected value="">Choose...</option> <!-- get default one -->
    </select>
    </div>
    <button type="button" id="actionProfile-SetButton" class="btn btn-primary btn-block" onclick="SetActionProfile()"> Assign Profile </button>
    <br>
    <div class="alert-wrapper">
    </div>



</div>


<!-- requires jquery and eel to be initialized first -->
<script>
    class alertClass{
        
        constructor(type, message){
            this.type = type;
            this.message = message;
        }
        
        get_bootstrap_alert_class_type(){
            if(this.type == "success"){
                return "alert-success";
            }else if(this.type == "danger"){
                return "alert-danger";
            }else{
                console.error("unsupported alertclass type");
                return ""
            }
        }

        get_alert_html(){
            var htmlAlert = '<div class="alert '+ this.get_bootstrap_alert_class_type() +' alert-dismissible fade show" role="alert"><strong>'+this.type+'</strong> '+ this.message +'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
            return htmlAlert; 
        }

        show_alert(html_wrapper){
            html_wrapper.prepend(htmlAlert);
            html_wrapper.find("alert").first().hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
        }
    }

    async function SetActionProfile(){
        var results = null;

        option = $('#actionProfileSelect').find(':selected')[0];

        if(option.value == ""){
            console.log("please select a valid profile");

            alertObj = { type: 'Danger', alertClass: 'alert-danger', message: "Please select a valid profile."};
            alertClass(type)
        }else{
            // TODO: callback for success??
            console.log("Starting to update the profile to: " + option.value);
            results = await eel.set_profile(option.value)();
            // TODO: HANDLE ANY POSSIBLE ERRORS
            alertObj = { type: 'Success', alertClass: 'alert-success', message: "Set the action profile to: "+results};
        }

        var htmlAlert = '<div class="alert '+ alertObj.alertClass +' alert-dismissible fade show" role="alert"><strong>'+alertObj.type+'</strong> '+ alertObj.message +'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
        $(".alert-wrapper").prepend(htmlAlert);
        $(".alert-wrapper .alert").first().hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
    }
    

    async function LoadAllProfiles(){

        results = await eel.get_all_profiles()()

        for(var i in results){
            $('#actionProfileSelect').append('<option value="' + results[i] +'">'+ results[i] +'</option>');
        }
    }

    LoadAllProfiles()

</script>