<div class="content-block">
    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="actionProfileSelect">Profiles</label>
    </div>
    <select class="custom-select" id="actionProfileSelect">
        <option selected value="">Choose...</option> <!-- get default one -->
    </select>
    </div>
    <button type="button" id="actionProfile-SetButton" class="btn btn-primary btn-block" onclick="SetActionProfile()"> Assign Profile </button>
    <br>
    <div class="alert-wrapper">
    </div>



</div>

<script type="text/javascript" src="/scripts/common/alert_class.js"></script>
<!-- requires jquery and eel to be initialized first -->
<script>

    async function SetActionProfile(){
        var results = null;
        var alert_obj = null

        option = $('#actionProfileSelect').find(':selected')[0];

        if(option.value == ""){
            console.log("please select a valid profile");

            alert_obj = new alertClass("Danger", "Please select a valid profile.");
            SetActionProfile_Callback(alert_obj.type, alert_obj.message)
        }else{
            console.log("Starting to update the profile to: " + option.value);
            results = await eel.set_profile(option.value)(SetActionProfile_Callback); //TODO maybe a callback?

            LoadAllStartingActions(); //Added on to update.?
        }
    }

    async function LoadAllProfiles(){

        results = await eel.get_all_profiles()()
        //todo add load current profile
        for(var i in results){
            $('#actionProfileSelect').append('<option value="' + results[i] +'">'+ results[i] +'</option>');
        }
    }

    LoadAllProfiles()

</script>