
<div id="startingAction-section" class="content-block">
    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="StartActionSelect">Starting Action</label>
    </div>
    <select class="custom-select selectpicker" id="startActionSelect">
        <option selected value="">Choose...</option> <!-- get default one -->
    </select>
    </div>
    <button type="button" id="startAction-SetButton" class="btn btn-primary btn-block" onclick="SetStartingAction()"> Set Starting Action </button>
    <br>
    <div class="alert-section">
    </div>
</div>

<script type="text/javascript" src="/scripts/StartActionHandler.js"></script> 