{% extends 'base.html.j2' %} 
{% block title %}Hello, World!{% endblock %}
{% block head_scripts %}       
<script type="text/javascript">
      function GetAllEdgeData(){
        var edgeInputs = $("#creationForm").find(".active").find(".edge");
        var n = edgeInputs.length;
        var results = {};
        for(var i = 0; i < edgeInputs.length; i++){
          results[edgeInputs[i].name] = (edgeInputs[i].value);
        }
        return results;
      }
      function GetAllData(){
        var dataInputs = $("#creationForm").find(".active .data");
        var results = {};
        for(var i = 0; i < dataInputs.length; i++){
          results[dataInputs[i].getAttribute("name")] = (dataInputs[i].getElementsByClassName("selectedImg")[0].getAttribute("data-val"));
        }
        return results;
      }
      function GetAllDelays(){
        var dataInputs = $("#creationForm").find(".delays");
        var results = {};
        for(var i = 0; i < dataInputs.length; i++){
          results[dataInputs[i].getAttribute("name")] = parseFloat(dataInputs[i].value);
        }
        return results;
      }

      async function SaveFormData(){
        var uniquename = document.getElementById("actionNameInput").value;
        var actiontype = document.getElementById("actionTypeSelect").value;
        var data = {
          "uniquename": uniquename,
          "actiontype": actiontype,
          "edges": GetAllEdgeData(),
          "data": GetAllData(),
          "delays": GetAllDelays(),
        }
        
        var actions = await eel.get_all_actions()();

        var valid = true;
        if(actions.includes(uniquename)){
          console.log("[ERROR] unique name already exists");
          valid = false;
        }
        if(actiontype==""){
          console.log("[ERROR] select an action type");
          valid = false;
        }

        eel.save_action_entry(data);

        return valid
        //SAVE TO SEEL
        //eel.saveData(data)
        //return data
      }
      
      function SelectImage(obj){
        $(".selectedImg").removeClass("selectedImg");
        obj.classList.add("selectedImg");
      }

      async function SetProfileList(){
        let nodes = await eel.get_all_nodes()();
        for(var n of nodes){
          $(".actionProfileSelect").append("<option value=" + n + ">" + n + "</option>");
        }
      }

      function showAndDismissAlert(type, message) {

        var htmlAlert = '<div class="alert alert-' + type + '">' + message + '</div>';
        $(".alert-messages").prepend(htmlAlert);
        $(".alert-messages .alert").hide().fadeIn(600).delay(2000).fadeOut(1000, function() {
          $(this).remove();
        });

      }
      async function SetAvailableImages(){
        let imgDirs = await eel.get_all_image_dirs()();
        for(var dir of imgDirs){
          $(".ImgSelection").append("<img class='imgClick' data-val='" + dir + "' src='" + dir + "' alt='" + dir + "' title='" + dir + "'  onclick='SelectImage(this);''>");
        }
      }

      async function SetActionList(){
        let actions = await eel.get_all_actions()();
        console.log(actions);
        var actionMapList = {
          '0': $([])

        };

        for(var a of actions){
          $('#actionTypeSelect').append("<option value=" + a + ">" + a + "</option>");
          $("#" + a).hide();
          actionMapList[a] = $("#" + a);
        }
        console.log(actionMapList);
        $.viewMap = actionMapList
        return actions;
      }

      $(function() {

        SetActionList();
        SetAvailableImages();
        SetProfileList();
        

      $('#actionTypeSelect').change(function() {
        // hide all
        $.each($.viewMap, function() {
          this.hide('slow');
          this.removeClass('active');
          this.addClass('inactive');
        });
        // show current
        $.viewMap[$(this).val()].show('slow');
        $.viewMap[$(this).val()].removeClass('inactive');
        $.viewMap[$(this).val()].addClass('active');
      });

      //this is never shown because yougotemail.php redirects user to thanks page
      $('.submitbutton').click(function() {
        $('#thanks').show('slow');
      });
      });
</script>
{% endblock %}


{% block content %}
<div class="alert-messages"></div>

<h1> Create Action Node</h1>

<form id="creationForm">
  <div class="form-group">
    <!-- Loaded through the SetActionList() function -->
    <label for="actionTypeSelect">Action Type:</label>
    <select class="form-control" name="actiontype" id="actionTypeSelect">
        <option class="select-default" value="select" selected="selected">select</option>
        </select> <br/>
  </div>
  <button type="button" name="button" onclick="showAndDismissAlert('danger', 'Saved Successfully!')">Button1</button>
  <div id="FIND_AND_CLICK" style="display:none">

    <p class="desc">
      Some description to go here.
    </p>
    <hr>
    <div class="form-group">
      <label for="actionNameInput">ActionClickButton1</label>
      <input class="form-control" id="actionNameInput" placeholder="Enter action name">
      <small id="actionNameHelp" class="form-text text-muted">Choose a unique name.</small>
    </div>
    <h3>Image</h3>
    <!-- <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" name="image1"> 
      <label class="custom-file-label" for="customFile">Choose image 1 </label>
    </div> -->
    <div class="ImgSelection data" name="img1" data-type="data"></div>

    <div class="form-group">
      <label for="startDelayInput">Start Delay:</label>
      <input class="form-control delays" data-type="delays" id="startDelayInput" name="START_DELAY" placeholder="Enter a value">
      <small class="form-text text-muted">This is in seconds.</small>
      <label for="postDelayInput">Post Delay:</label>
      <input class="form-control delays" data-type="delays" id="postDelayInput" name="POST_DELAY" placeholder="Enter a value">
      <small class="form-text text-muted">This is in seconds.</small>
    </div>

    <h3>Link</h3>
    <div class="form-group">
      <label for="actionTypeSelect">ACTION DONE:</label>
      <select class="form-control actionProfileSelect edge" data-type="edge" name="ACTION_DONE">
        <option class="select-default" value="" selected="selected">select</option>
      </select>
    </div>
    <div class="form-group">
      <label for="actionTypeSelect">NO ACTION:</label>
      <select class="form-control actionProfileSelect edge" data-type="edge" name="NO_ACTION">
          <option class="select-default" value="" selected="selected">select</option>

      </select>
    </div>

    <button onclick="SaveFormData()" class="btn btn-primary btn-block">Add</button>
  </div>  
  <div id="CHECK_AND_CLICK" style="display:none">

    <p class="desc">
      Some description to go here.
    </p>
    <hr>
    <div class="form-group">
      <label for="actionNameInput">ActionClickButton1</label>
      <input class="form-control" id="actionNameInput" placeholder="Enter action name">
      <small id="actionNameHelp" class="form-text text-muted">Choose a unique name.</small>
    </div>
    <h3>Image</h3>
    <!-- <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" name="image1"> 
      <label class="custom-file-label" for="customFile">Choose image 1 </label>
    </div> -->
    <div class="ImgSelection data" name="img1" data-type="data"></div>
    <div class="form-group">
      <label for="startDelayInput">X:</label>
      <input class="form-control delays" data-type="delays" id="startDelayInput" name="START_DELAY" placeholder="Enter a value">
      <small class="form-text text-muted">This is in seconds.</small>
      <label for="postDelayInput">Y:</label>
      <input class="form-control delays" data-type="delays" id="postDelayInput" name="POST_DELAY" placeholder="Enter a value">
      <small class="form-text text-muted">This is in seconds.</small>
    </div>


    <div class="form-group">
      <label for="startDelayInput">Start Delay:</label>
      <input class="form-control delays" data-type="delays" id="startDelayInput" name="START_DELAY" placeholder="Enter a value">
      <small class="form-text text-muted">This is in seconds.</small>
      <label for="postDelayInput">Post Delay:</label>
      <input class="form-control delays" data-type="delays" id="postDelayInput" name="POST_DELAY" placeholder="Enter a value">
      <small class="form-text text-muted">This is in seconds.</small>
    </div>

    <h3>Link</h3>
    <div class="form-group">
      <label for="actionTypeSelect">ACTION DONE:</label>
      <select class="form-control actionProfileSelect edge" data-type="edge" name="ACTION_DONE">
        <option class="select-default" value="" selected="selected">select</option>
      </select>
    </div>
    <div class="form-group">
      <label for="actionTypeSelect">NO ACTION:</label>
      <select class="form-control actionProfileSelect edge" data-type="edge" name="NO_ACTION">
          <option class="select-default" value="" selected="selected">select</option>

      </select>
    </div>

    <button onclick="SaveFormData()" class="btn btn-primary btn-block">Add</button>
  </div>  
</form>
{% endblock %}