{% extends 'base.html.j2' %} 
{% block title %}Hello, World!{% endblock %}
{% block head_scripts %}       
<script type="text/javascript">

  var results;

  function StartActions(){
    eel.start_actions();
  }

  async function getSS(){
    results = await eel.saveSS()();
    url = results[0];
    w = results[1];
    h = results[2];
    resizeCanvas(w, h);
    document.getElementById('isSSTaken').value = 1;
    return 
  }
  console.log(getSS());
  //loadSS();
  async function UpdateInfo(){
    results = await eel.getStartingNodeName()();
    $(".startNode").text(results);
  }

  function getData(){
    var d = {'img': results[0] ,'rec': rec, 'dot':dot};
  }

  UpdateInfo();

</script>

{% endblock %}


{% block content %}
          <div class="alert-messages"></div>
  
          <h1> Welcome</h1>
          <p>The initial node is <span class="startNode" style="font-wegit block">Start</p>
  
          <button  type="button" onclick="getData()">xxxx</button>

<div id="screenSection">
  <!-- TODO: -->
  <!-- [] Grab image -->
  <!-- [X] Draw Rectangle on image -->
  <!-- [X] select point -->
</div>
<input type="hidden" id="isSSTaken" name="isSSTaken" value=0>
<script src="/js/CheckAndClickP5.js"></script>
{% endblock %}