{% extends 'base.html.j2' %} 
{% block title %}Hello, World!{% endblock %}

{% block head_scripts %}       

    <link rel="stylesheet" href="/css/libraries/Treant.css">
    <link rel="stylesheet" href="/css/libraries/perfect-scrollbar.css">
    <link rel="stylesheet" href="/css/nodetree.css">
    


<script type="text/javascript">


</script>


<script src="/js/libraries/perfect-scrollbar.js"></script>
<script src="/js/libraries/raphael.js"></script>
<script src="/js/libraries/Treant.js"></script>

{% endblock %} 


{% block content %}
<h1> Node Visualizer </h1>

<div class="chart" id="nodetree"></div>

<script src="/js/nodetree.js"></script>
<script>
    tree = new Treant( chart_config );
</script>
{% endblock %}